@import "tailwindcss";

@layer base {
  body {
    @apply bg-gray-900 text-white antialiased;
    font-family: "Outfit", sans-serif;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-white/10 rounded-full hover:bg-white/20 transition-colors;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-shake {
  animation: shake 0.4s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
}

.input {
  @apply w-full px-4 py-2 rounded-xl bg-white/10 border border-white/30
  text-white placeholder-gray-300 outline-none
  focus:ring-2 focus:ring-indigo-400 backdrop-blur-md transition;
}
